    {% load static %}



    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'weather_app/css/base.css' %}">
        <title>Your weather</title>
    </head>
    <body>
        <img src="{% static 'weather_app/img/weather.jpg' %}" alt="weather" class="img">
        <nav class="enter_city">
            <form method="post" action="{% url 'index' %}">
                {% csrf_token %}
                <input type="text" name="city" placeholder="Enter city name" class="city">
                <input type="submit" value="Search" class="search">
            </form>
        </nav>
        <div class="weather-info">
            {% if city %}
                <h2>Weather in: {{ city }}<img src="http://openweathermap.org/img/w/{{ icon }}.png" alt="Погодная иконка"></h2>
                <h3>Description: {{ description }}</h3>
                <p>Temperature: {{ temp }}</p>
                <p>Humidity: {{ humidity }}</p>
                <p>Country: {{ country_code }}</p>
                <p>Coordinates: {{ coordinate }}</p>
            {% else %}
                <p>Enter city name</p>
            {% endif %}
            <a href="{% url 'download_weather' %}?city={{ city }}" class="download-link">Weather for 5 days</a>
        </div>
    </body>
    </html>
